@model NicholasNyland.Models.Models.ViewModels.AccountHomeViewModel

@{
    ViewBag.Title = "Account Home";
}

<h2>Home</h2>
<h4>Welcome, Nicholas.</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumAccounts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumArt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumExhibits)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.NumAccounts)
        </td>
        <td>
            @Html.DisplayFor(model => model.NumArt)
        </td>
        <td>
            @Html.DisplayFor(model => model.NumExhibits)
        </td>
    </tr>
</table>