@model NicholasNyland.Models.Models.ViewModels.ArtViewModel

@{    
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <title>Nicholas Nyland</title>
    <link rel="favicon" href="images/favicon.ico">
    <meta charset="utf-8">
    <meta name="nicholas nyland" content="Nicholas Nyland">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" media="screen and (min-width: 900px)" href="@Url.Content("~/Styles/desktop.css")">
    <link rel="stylesheet" media="screen and (max-width: 900px)" href="@Url.Content("~/Styles/mobile.css")">
</head>

<body>
    <header>
        <img src="~/Images/FirstSignature.jpg" class="h1" />
    </header>
    <main>
        <aside id="aside" class="header">
            <nav>
                @* News *@
                <a href="@Url.Action("News", "Home")" class="news">
                    <h2 class="accordion news">News</h2>
                    <img src="@ViewBag.NewsPath" class="news-img news">
                    <p class="accordion news-element news-caption news">@ViewBag.NewsName</p>
                </a>
                
                <h2 class="accordion">Exhibitions</h2>
                <div class="panel">
                    
                    @* Exhibitions *@
                    @{ int year = 0; }
                    @foreach (var exhibit in Model.Exhibits)
                    {
                        if (exhibit.Key.Year != year)
                        {
                            year = exhibit.Key.Year;
                            <img src="~/Images/triangleside.png" class="arrow"><span class="date">
                                @year</span><br>
                        }

                        <div class="exhibitions">
                            <p class="show">@Html.ActionLink(exhibit.Value, "Index", new { id = exhibit.Value }, htmlAttributes: new { @class = "show" })
                            </p>
                        </div>
                    }

                </div>
                <h2 class="accordion">Paintings</h2>
                <div class="panel">

                    @* Paintings *@
                    @{ year = 0; }
                    @foreach (var painting in Model.Paintings)
                    {
                        if (painting.Date.Year != year)
                        {
                            year = painting.Date.Year;
                            <span class="date">
                                @Html.ActionLink(year + "", "Index", new { id = painting.Name }, htmlAttributes: new { @class = "show" })
                            </span><br>
                        }
                    }

                </div>
                <h2 class="accordion">Sculptures</h2>
                <div class="panel">

                    @* Sculptures *@
                    @{ year = 0; }
                    @foreach (var sculpture in Model.Sculptures)
                    {
                        if (sculpture.Date.Year != year)
                        {
                            year = sculpture.Date.Year;
                            <span class="date">
                                @Html.ActionLink(year + "", "Index", new { id = sculpture.Name }, htmlAttributes: new { @class = "show" })
                            </span><br>
                        }
                    }

                </div>
                <h2 class="aside-element">About</h2>
                <p class="caption">
                    Nicholas Nyland is a local Puget Sound artist that is currently
                    residing in Tacoma, WA.
                </p>
            </nav>
        </aside>
        <section id="container">
            <figure class="slideshow">
                <div id="slide">

                </div>
            </figure>
            <figure id="bottom-container">

                @* Gallery *@
                @if (Model.Gallery != null)
                {
                    int count = 0;
                    foreach (var thumbnail in Model.Gallery)
                    {
                        <img class="thumbnail" src="@Html.DisplayFor(item => thumbnail.Path)">

                        if (++count == 4) { break; }
                    }
                }

            </figure>
        </section>
    </main>
    <footer>
        <script src="@Url.Content("~/Scripts/main.js")"></script>
    </footer>
</body>

</html>