@{ 
    Layout = null;   
}

<!DOCTYPE html>

<html lang="en">

<head>
    <title>Nicholas Nyland</title>
    <link rel="favicon" href="images/favicon.ico">
    <meta charset="utf-8">
    <meta name="nicholas nyland" content="Nicholas Nyland">
    <link rel="stylesheet" media="screen and (min-width: 1000px)" href="@Url.Content("~/Styles/desktop.css")">
    <link rel="stylesheet" media="screen and (max-width: 1000px)" href="@Url.Content("~/Styles/mobile.css")">
    @Styles.Render("~/Styles/css")
</head>

<body>
    <header class="header">
        <h1>Nicholas Nyland</h1>
    </header>
    <main>
        <aside class="header">
            <nav>
                <h2 class="aside-element">News</h2>
                <img src="~/Images/index~~element106-800x600.jpg" class="news-img">
                <p class="news-element news-caption">The Binali</p>
                <h2 class="accordion">Exhibitions</h2>
                <div class="panel">
                    <img src="images/triangleside.png" class="arrow"><span class="date">2019</span><br>
                    <div class="exhibitions">
                        <p class="show">The Binali</p>
                    </div>
                    <img src="images/triangleside.png" class="arrow"><span class="date">2018</span><br>
                    <div class="exhibitions">
                        <p class="show">The Binali</p>
                    </div>
                    <img src="images/triangleside.png" class="arrow"><span class="date">2017</span><br>
                    <div class="exhibitions">
                        <p class="show">The Binali</p>
                    </div>
                </div>
                <h2 class="accordion">Paintings</h2>
                <div class="panel">
                    <img src="images/triangleside.png" class="arrow"><span class="date">2019</span><br>
                    <div class="exhibitions">
                        <p class="show">The Binali</p>
                    </div>
                    <img src="images/triangleside.png" class="arrow"><span class="date">2018</span><br>
                    <div class="exhibitions">
                        <p class="show">The Binali</p>
                    </div>
                    <img src="images/triangleside.png" class="arrow"><span class="date">2017</span><br>
                    <div class="exhibitions">
                        <p class="show">The Binali</p>
                    </div>
                </div>
                <h2 class="accordion">Sculptures</h2>
                <div class="panel">
                    <img src="images/triangleside.png" class="arrow"><span class="date">2019</span><br>
                    <div class="exhibitions">
                        <p class="show">The Binali</p>
                    </div>
                    <img src="images/triangleside.png" class="arrow"><span class="date">2018</span><br>
                    <div class="exhibitions">
                        <p class="show">The Binali</p>
                    </div>
                    <img src="images/triangleside.png" class="arrow"><span class="date">2017</span><br>
                    <div class="exhibitions">
                        <p class="show">The Binali</p>
                    </div>
                </div>
                <h2 class="aside-element">About</h2>
                <p class="aside-element caption">
                    Nicholas Nyland is a local Puget Sound artist that is currently
                    residing in Tacoma, WA.
                </p>
            </nav>
        </aside>
        <section id="container">
            <figure class="slideshow">
                <div id="slide" class="fade">

                </div>
            </figure>
            <figure id="bottom-container">
                <img class="thumbnail" src="~/Images/NylandStudioMountain-800x600.jpg">
                <img class="thumbnail" src="~/Images/index~~element105-800x600.JPG">
                <img class="thumbnail" src="~/Images/NN_VS_Pallet_thumb-800x600.jpg">
                <img class="thumbnail" src="~/Images/index~~element113-800x600.jpg">
            </figure>
        </section>
    </main>
    <footer>
        <script src="@Url.Content("~/Scripts/main.js")"></script>
        @Scripts.Render("~/bundles/javascript")
    </footer>
</body>

</html>