@model NicholasNyland.Models.Exhibit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exhibit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dt>
            @Html.DisplayFor(model => model.Name)
        </dt>
        
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dd>
            @foreach (var item in Model.Gallery)
            {
                @Html.Display(item.Name)<br />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
